*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    background: #84e2ae;
}
.logo{
    width: 120px;
    height: 70px;
    padding: 10px;
}
.nav-items > ul{
    display: flex;
    list-style-type: none;
}
.nav-items > ul > li{
    padding: 10px;
}